<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
=======
<head>
  <title>SampleApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
>>>>>>> 7e4c6bbed8d70c8776f16d7b270f0fdbbd850635
</html>
